[core]
	excludesfile = ~/.gitignore_global
	pager = less -r
[user]
	name = Your Name
	email = email@domain.com
	# find 16-character fingerprint in "gpg -k" output . Common pattern
	# is "04B9CD3D381B574D" in "rsa4096/0x04B9CD3D381B574D". Substitute
	# into next line and uncomment.
#	signingkey = 04B9CD3D381B574D
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[rerere]
	enabled = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
